<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>0</MaxCpuCount>
    <TestSessionTimeout>600000</TestSessionTimeout>
  </RunConfiguration>

  <TestRunParameters>
    <Parameter name="BASE_URL" value="https://www.optum.com/en/" />
    <Parameter name="HEADLESS" value="false" />
  </TestRunParameters>

  <NUnit>
    <NumberOfTestWorkers>4</NumberOfTestWorkers>
  </NUnit>
</RunSettings>
d